### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/gambleServerAuth/build/classes/java/main/kr/co/glog/server/auth/AuthServer.class
/gambleServerAuth/build/classes/java/main/kr/co/glog/server/auth/AuthServerConfig.class
/gambleServerAuth/build/libs/gambleServerAuth-0.0.1-20220512163541.war
/gambleServerAuth/build/libs/gambleServerAuth-0.0.1-20220512163541-plain.war
/gambleServerAuth/build/libs/gambleServerAuth-0.0.1-20220512163846.war
/gambleServerAuth/build/libs/gambleServerAuth-0.0.1-20220512163846-plain.war
/gambleServerAuth/build/libs/gambleServerAuth-0.0.1-20220512165730.war
/gambleServerAuth/build/libs/gambleServerAuth-0.0.1-20220512165730-plain.war
/gambleServerAuth/build/tmp/bootWar/MANIFEST.MF
/gambleServerAuth/build/tmp/compileJava/previous-compilation-data.bin
/gambleServerAuth/build/tmp/war/MANIFEST.MF
/gambleServerAuth/build/bootWarMainClassName
/gambleModuleDomain/build/classes/java/main/kr/co/glog/domain/member/entity/Member.class
/gambleModuleDomain/build/classes/java/main/kr/co/glog/domain/member/exception/MemberNotFoundException.class
/gambleModuleDomain/build/classes/java/main/kr/co/glog/domain/BaseModel.class
/gambleModuleDomain/build/classes/java/main/kr/co/glog/domain/EntityModel.class
/gambleModuleDomain/build/classes/java/main/kr/co/glog/domain/RestResponse.class
/gambleModuleDomain/build/classes/java/main/kr/co/glog/domain/RestResponseStatus.class
/gambleModuleDomain/build/classes/java/main/kr/co/glog/repository/master/MemberRepository.class
/gambleModuleDomain/build/classes/java/main/kr/co/glog/repository/read/MemberStatRepository.class
/gambleModuleDomain/build/libs/gambleModuleDomain-plain.jar
/gambleModuleDomain/build/libs/gambleModuleDomain-plain.war
/gambleModuleDomain/build/tmp/bootWar/MANIFEST.MF
/gambleModuleDomain/build/tmp/compileJava/previous-compilation-data.bin
/gambleModuleDomain/build/tmp/jar/MANIFEST.MF
/gambleModuleDomain/build/tmp/war/MANIFEST.MF
/gambleModuleDomain/build/bootWarMainClassName
/gambleModuleCommon/build/classes/java/main/kr/co/glog/common/exception/ApplicationRuntimeException.class
/gambleModuleCommon/build/libs/gambleModuleCommon-plain.jar
/gambleModuleCommon/build/libs/gambleModuleCommon-plain.war
/gambleModuleCommon/build/resources/main/application-common.yml
/gambleModuleCommon/build/resources/main/application-database.yml
/gambleModuleCommon/build/tmp/bootWar/MANIFEST.MF
/gambleModuleCommon/build/tmp/compileJava/previous-compilation-data.bin
/gambleModuleCommon/build/tmp/jar/MANIFEST.MF
/gambleModuleCommon/build/tmp/war/MANIFEST.MF
/gambleModuleCommon/build/bootWarMainClassName

