<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.glog.domain.stat.stock.mapper.StatStockDailyMapper">

    <insert id="insertStatStockDaily" parameterType="StatStockDaily" useGeneratedKeys="true" keyProperty="statStockDailyId">
        INSERT INTO statStockDaily
            ( isin, stockCode, tradeDate, stockName, priceFinal, priceChange, priceStart, priceHigh, priceLow, priceTrade, volumeTrade, priceTotal, volumeTotal, rateChange, volumeOrg, volumeForeigner, foreignerStockCount, foreignerHoldRate, insertTime, updateTime )
        VALUES
            ( #{isin}, #{stockCode}, #{tradeDate}, #{stockName}, #{priceFinal}, #{priceChange}, #{priceStart}, #{priceHigh}, #{priceLow}, #{priceTrade}, #{volumeTrade}, #{priceTotal}, #{volumeTotal}, #{rateChange}, #{volumeOrg}, #{volumeForeigner}, #{foreignerStockCount}, #{foreignerHoldRate}, now(), now() )
    </insert>

    <insert id="insertsStatStockDaily" parameterType="java.util.ArrayList" useGeneratedKeys="true" keyColumn="statStockDailyId" keyProperty="statStockDailyId">
        INSERT INTO stock
            ( isin, stockCode, tradeDate, stockName, priceFinal, priceChange, priceStart, priceHigh, priceLow, priceTrade, volumeTrade, priceTotal, volumeTotal, rateChange, volumeOrg, volumeForeigner, foreignerStockCount, foreignerHoldRate, insertTime, updateTime )
        VALUES
        <foreach collection="list" item="item" index="index" separator="," open="" close="">
            ( #{item.isin}, #{item.stockCode}, #{item.tradeDate}, #{item.stockName}, #{item.priceFinal}, #{item.priceChange}, #{item.priceStart}, #{item.priceHigh}, #{item.priceLow}, #{item.priceTrade}, #{item.volumeTrade}, #{item.priceTotal}, #{item.volumeTotal},  #{item.rateChange}, #{item.volumeOrg}, #{item.volumeForeigner}, #{item.foreignerStockCount}, #{item.foreignerHoldRate}, now(), now() )
        </foreach>
    </insert>

    <update id="updateStatStockDaily" parameterType="StatStockDaily">
        UPDATE 	statStockDaily
        SET
        <trim prefix="" suffixOverrides=",">
            <if test="isin != null">isin = #{isin},</if>
            <if test="stockName != null">stockName = #{stockName},</if>
            <if test="priceFinal != null">priceFinal = #{priceFinal},</if>
            <if test="priceChange != null">priceChange = #{priceChange},</if>
            <if test="priceStart != null">priceStart = #{priceStart},</if>
            <if test="priceHigh != null">priceHigh = #{priceHigh},</if>
            <if test="priceLow != null">priceLow = #{priceLow},</if>
            <if test="priceTrade != null">priceTrade = #{priceTrade},</if>
            <if test="volumeTrade != null">volumeTrade = #{volumeTrade},</if>
            <if test="priceTotal != null">priceTotal = #{priceTotal},</if>
            <if test="volumeTotal != null">volumeTotal = #{volumeTotal},</if>
            <if test="rateChange != null">rateChange = #{rateChange},</if>
            <if test="volumeOrg != null">volumeOrg = #{volumeOrg},</if>
            <if test="volumeForeigner != null">volumeForeigner = #{volumeForeigner},</if>
            <if test="foreignerStockCount != null">foreignerStockCount = #{foreignerStockCount},</if>
            <if test="foreignerHoldRate != null">foreignerHoldRate = #{foreignerHoldRate},</if>
            updateTime = now()
        </trim>
        WHERE statStockDaily.stockCode=#{stockCode}
        AND statStockDaily.tradeDate=#{tradeDate}
    </update>

    <delete id="deleteStatStockDaily" parameterType="StatStockDaily">
        DELETE FROM statStockDaily
        WHERE 	statStockDailyId=#{statStockDailyId}
    </delete>

    <select id="selectStatStockDailyList" parameterType="StatStockDailyParam" resultType="StatStockDailyResult" >
        SELECT 	statStockDaily.*
        FROM 	statStockDaily
        <include refid="whereStatStockDaily" ></include>
        <include refid="orderStatStockDaily" ></include>
    </select>

    <select id="selectStatStockDailyListCount" parameterType="StatStockDailyParam" resultType="java.lang.Integer">
        SELECT 	COUNT(*)
        FROM   	statStockDaily
        <include refid="whereStatStockDaily" ></include>
    </select>

    <sql id="whereStatStockDaily">
        <where>
            <trim prefixOverrides = "AND | OR">
                <if test="statStockDailyId != null and statStockDailyId != ''">AND statStockDaily.statStockDailyId=#{statStockDailyId}</if>
                <if test="isin != null and isin != ''">AND statStockDaily.isin=#{isin}</if>
                <if test="stockCode != null and stockCode != ''">AND statStockDaily.stockCode=#{stockCode}</if>
                <if test="tradeDate != null and tradeDate != ''">AND statStockDaily.tradeDate=#{tradeDate}</if>
                <if test="stockName != null and stockName != ''">AND statStockDaily.stockName=#{stockName}</if>
                <if test="priceFinal != null and priceFinal != ''">AND statStockDaily.priceFinal=#{priceFinal}</if>
                <if test="priceChange != null and priceChange != ''">AND statStockDaily.priceChange=#{priceChange}</if>
                <if test="priceStart != null and priceStart != ''">AND statStockDaily.priceStart=#{priceStart}</if>
                <if test="priceHigh != null and priceHigh != ''">AND statStockDaily.priceHigh=#{priceHigh}</if>
                <if test="priceLow != null and priceLow != ''">AND statStockDaily.priceLow=#{priceLow}</if>
                <if test="priceTrade != null and priceTrade != ''">AND statStockDaily.priceTrade=#{priceTrade}</if>
                <if test="volumeTrade != null and volumeTrade != ''">AND statStockDaily.volumeTrade=#{volumeTrade}</if>
                <if test="priceTotal != null and priceTotal != ''">AND statStockDaily.priceTotal=#{priceTotal}</if>
                <if test="volumeTotal != null and volumeTotal != ''">AND statStockDaily.volumeTotal=#{volumeTotal}</if>
                <if test="volumeOrg != null and volumeOrg != ''">AND statStockDaily.volumeOrg=#{volumeOrg}</if>
                <if test="volumeForeigner != null and volumeForeigner != ''">AND statStockDaily.volumeForeigner=#{volumeForeigner}</if>
                <if test="foreignerStockCount != null and foreignerStockCount != ''">AND statStockDaily.foreignerStockCount=#{foreignerStockCount}</if>
                <if test="foreignerHoldRate != null and foreignerHoldRate != ''">AND statStockDaily.foreignerHoldRate=#{foreignerHoldRate}</if>
                <if test="pagingParam.filter != null and pagingParam.filter != ''">AND statStockDaily.dailyStockName like CONCAT('%',#{pagingParam.filter},'%')</if>
            </trim>
        </where>
    </sql>

    <sql id="orderStatStockDaily">
        <if test='pagingParam.sortIndex != null and pagingParam.sortIndex != ""'>ORDER BY
            <choose>
                <when test="pagingParam.sortIndex eq 'statStockDailyId'">statStockDailyId</when>
                <when test="pagingParam.sortIndex eq 'isin'">isin</when>
                <when test="pagingParam.sortIndex eq 'stockCode'">stockCode</when>
                <when test="pagingParam.sortIndex eq 'tradeDate'">tradeDate</when>
                <when test="pagingParam.sortIndex eq 'stockName'">stockName</when>
                <when test="pagingParam.sortIndex eq 'priceFinal'">priceFinal</when>
                <when test="pagingParam.sortIndex eq 'priceChange'">priceChange</when>
                <when test="pagingParam.sortIndex eq 'priceStart'">priceStart</when>
                <when test="pagingParam.sortIndex eq 'priceHigh'">priceHigh</when>
                <when test="pagingParam.sortIndex eq 'priceLow'">priceLow</when>
                <when test="pagingParam.sortIndex eq 'priceTrade'">priceTrade</when>
                <when test="pagingParam.sortIndex eq 'volumeTrade'">volumeTrade</when>
                <when test="pagingParam.sortIndex eq 'priceTotal'">priceTotal</when>
                <when test="pagingParam.sortIndex eq 'volumeTotal'">volumeTotal</when>
                <when test="pagingParam.sortIndex eq 'volumeOrg'">volumeOrg</when>
                <when test="pagingParam.sortIndex eq 'volumeForeigner'">volumeForeigner</when>
                <when test="pagingParam.sortIndex eq 'foreignerStockCount'">foreignerStockCount</when>
                <when test="pagingParam.sortIndex eq 'foreignerHoldRate'">foreignerHoldRate</when>
                <otherwise>statStockDailyId</otherwise>
            </choose>
            <choose>
                <when test="pagingParam.sortType != null and pagingParam.sortType.equalsIgnoreCase('desc')">DESC</when>
                <otherwise>ASC</otherwise>
            </choose>
        </if>
        <if test="pagingParam.rows gt 0">
            LIMIT #{pagingParam.startIndex}, #{pagingParam.endIndex}
        </if>
    </sql>
    
</mapper>