
<!-- latest jquery-->
<script src="/lib/wingo/js/jquery-3.5.1.min.js"></script>
<!-- feather icon js-->
<script src="/lib/wingo/js/icons/feather-icon/feather.min.js"></script>
<script src="/lib/wingo/js/icons/feather-icon/feather-icon.js"></script>
<!-- Sidebar jquery-->
<script src="/lib/wingo/js/sidebar-menu.js"></script>
<script src="/lib/wingo/js/config.js">   </script>
<!-- Bootstrap js-->
<script src="/lib/wingo/js/bootstrap/popper.min.js"></script>
<script src="/lib/wingo/js/bootstrap/bootstrap.min.js"></script>
<!-- Plugins JS start-->
<script src="/lib/wingo/js/prism/prism.min.js"></script>
<script src="/lib/wingo/js/clipboard/clipboard.min.js"></script>
<script src="/lib/wingo/js/custom-card/custom-card.js"></script>
<!-- Plugins JS Ends-->
<script src="/lib/wingo/js/script.js"></script>
<!-- login js-->
<!-- Plugin used-->



<script src="/lib/vue/vue.min.js"></script>
<script src="/lib/vue/vue-router.js"></script>
<script src="/lib/vue/axios.min.js"></script>

<script src="/lib/local/util.js"></script>
<script src="/lib/local/axiosUtil.js"></script>