            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 footer-copyright">
                            <p class="mb-0">Copyright 2020 © wingo All rights reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p class="pull-right mb-0">Hand crafted & made with <i class="fa fa-heart font-secondary"></i></p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

</body>

<!-- latest jquery-->
<script src="/lib/wingo/js/jquery-3.5.1.min.js"></script>
<!-- feather icon js-->
<script src="/lib/wingo/js/icons/feather-icon/feather.min.js"></script>
<script src="/lib/wingo/js/icons/feather-icon/feather-icon.js"></script>
<!-- Sidebar jquery-->
<script src="/lib/wingo/js/sidebar-menu.js"></script>
<script src="/lib/wingo/js/config.js">   </script>
<!-- Bootstrap js-->
<script src="/lib/wingo/js/bootstrap/popper.min.js"></script>
<script src="/lib/wingo/js/bootstrap/bootstrap.min.js"></script>
<!-- Plugins JS start-->
<script src="/lib/wingo/js/prism/prism.min.js"></script>
<script src="/lib/wingo/js/clipboard/clipboard.min.js"></script>
<script src="/lib/wingo/js/custom-card/custom-card.js"></script>
<!-- Plugins JS Ends-->

<script src="/lib/wingo/js/script.js"></script>
<!-- login js-->
<!-- Plugin used-->
</html>