<!-- footer -->
<footer class="py-5 text-center text-body-secondary bg-body-tertiary">
    <p class="mb-0">제공되는 정보는 단지 투자 참고사항이며, 오류가 있습니다.</p>
    <p class="mb-0">제공된 정보 이용에 따르는 책임은 이용자의 책임이며, 사이트에서는 이용자의 투자결과에 법적 책임을 지지 않습니다.</p>
    <p class="mb-0">
        <a href="#">애플릿</a>
    </p>
</footer>
<!-- /footer -->