<!DOCTYPE html>
<html lang="kr">
<head>
    {{>web/layouts/head}}
</head>
<body class="ltr">
    <!-- Loader starts-->
    {{>web/layouts/loading}}
    <!-- Loader ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper box-layout" id="pageWrapper">
        <!-- Page Header Start-->
        {{>web/layouts/topNav}}
        <!-- Page Header Ends                              -->

        <!-- Page Body Start-->
        <div class="page-body-wrapper sidebar-icon">
            <!-- Page Sidebar Start-->
            {{>web/layouts/leftNav}}