<header class="main-nav close_icon">
    <div class="logo-wrapper"><a href="index.html"><img class="img-fluid" src="/lib/wingo/images/logo/logo.png" alt=""></a></div>
    <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="/lib/wingo/images/logo/logo-icon.png" alt=""></a></div>
    <div class="morden-logo"><a href="index.html"><img class="img-fluid" src="/lib/wingo/images/logo/morden-logo.png" alt=""></a></div>
    <nav>
        <div class="main-navbar">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="mainnav">
                <ul class="nav-menu custom-scrollbar">
                    <li class="back-btn">
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="sunrise"></i><span>미션</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a href="predict/kospi">출근도장</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="loader"></i><span>국내주식</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a href="svc/finance/main">국내주식 종합</a></li>
                            <li><a class="submenu-title active" href="javascript:void(0)">주식<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span><div class="according-menu"><i class="fa fa-caret-down"></i></div></a>
                                <ul class="nav-sub-childmenu submenu-content" style="display: block;">
                                    <li><a href="bootstrap-basic-table.html">종목 정보</a></li>
                                    <li><a href="bootstrap-sizing-table.html">시세 정보</a></li>
                                    <li><a href="bootstrap-border-table.html">종목 토론</a></li>
                                    <li><a href="bootstrap-styling-table.html">컬럼</a></li>
                                    <li><a href="table-components.html">모의투자정보</a></li>
                                </ul>
                            </li>
                            <li><a class="submenu-title" href="javascript:void(0)">선물옵션/ELW<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span><div class="according-menu"><i class="fa fa-caret-right"></i></div></a>
                                <ul class="nav-sub-childmenu submenu-content" style="display: none;">
                                    <li><a href="datatable-basic-init.html">선물옵션/ELW 정보</a></li>
                                    <li><a href="datatable-advance.html">선물옵션 시세</a></li>
                                    <li><a href="datatable-styling.html">ELW 시세</a></li>
                                    <li><a href="datatable-AJAX.html">선물옵션 토론</a></li>
                                    <li><a href="datatable-server-side.html">컬럼</a></li>
                                    <li><a href="datatable-plugin.html">모의투자정보</a></li>
                                </ul>
                            </li>
                            <li><a href="jsgrid-table.html">Js Grid Table</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="users"></i><span>커뮤니티</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a href="board/free">자유게시판</a></li>
                            <li><a href="board/free">핫딜추천</a></li>
                            <li><a class="submenu-title" href="javascript:void(0)">중고거래<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                                <ul class="nav-sub-childmenu submenu-content">
                                    <li><a href="datepicker.html">삽니다</a></li>
                                    <li><a href="time-picker.html">팝니다</a></li>
                                </ul>
                            </li>
                            <li><a href="board/free">도움/자문 구함</a></li>
                            <li><a href="board/free">추천/광고</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</header>