<header class="main-nav close_icon">
    <div class="logo-wrapper"><a href="index.html"><img class="img-fluid" src="/lib/wingo/images/logo/logo.png" alt=""></a></div>
    <div class="logo-icon-wrapper"><a href="index.html"><img class="img-fluid" src="/lib/wingo/images/logo/logo-icon.png" alt=""></a></div>
    <div class="morden-logo"><a href="index.html"><img class="img-fluid" src="/lib/wingo/images/logo/morden-logo.png" alt=""></a></div>
    <nav>
        <div class="main-navbar">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="mainnav">
                <ul class="nav-menu custom-scrollbar">
                    <li class="back-btn">
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>

                    <li class="dropdown"><a class="nav-link menu-title link-nav" href="file-manager.html"><i data-feather="sunrise"> </i><span>출석</span></a></li>

                    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="loader"></i><span>단순</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a href="simple/sniffling">홀짝</a></li>
                            <li><a href="simple/rockPaperScissors">가위바위보</a></li>
                            <li><a href="simple/dice">주사위</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="cpu"></i><span>예측</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a href="predict/kospi">KOSPI 예측</a></li>
                            <li><a href="predict/kosdaq">KOSDAQ 예측</a></li>
                            <li><a href="predict/lotto">로또 예측</a></li>
                        </ul>
                    </li>

                    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="clock"></i><span>계산</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a class="submenu-title" href="javascript:void(0)">덧셈<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                                <ul class="nav-sub-childmenu submenu-content">
                                    <li><a href="datepicker.html">초급 덧셈</a></li>
                                    <li><a href="datepicker.html">중급 덧셈</a></li>
                                    <li><a href="datepicker.html">고급 덧셈</a></li>
                                    <li><a href="datepicker.html">덧셈의 신</a></li>
                                </ul>
                            </li>
                            <li><a class="submenu-title" href="javascript:void(0)">뺄셈<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                                <ul class="nav-sub-childmenu submenu-content">
                                    <li><a href="datepicker.html">초급 뺄셈</a></li>
                                    <li><a href="datepicker.html">중급 뺄셈</a></li>
                                    <li><a href="datepicker.html">고급 뺄셈</a></li>
                                    <li><a href="datepicker.html">뺄셈의 신</a></li>
                                </ul>
                            </li>
                            <li><a class="submenu-title" href="javascript:void(0)">곱셈<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                                <ul class="nav-sub-childmenu submenu-content">
                                    <li><a href="datepicker.html">초급 곱셈</a></li>
                                    <li><a href="datepicker.html">중급 곱셈</a></li>
                                    <li><a href="datepicker.html">고급 곱셈</a></li>
                                    <li><a href="datepicker.html">곱셈의 신</a></li>
                                </ul>
                            </li>
                            <li><a class="submenu-title" href="javascript:void(0)">나눗셈<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                                <ul class="nav-sub-childmenu submenu-content">
                                    <li><a href="datepicker.html">초급 나눗셈</a></li>
                                    <li><a href="datepicker.html">중급 나눗셈</a></li>
                                    <li><a href="datepicker.html">고급 나눗셈</a></li>
                                    <li><a href="datepicker.html">나눗셈의 신</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown"><a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="users"></i><span>커뮤니티</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a href="board/free">자유게시판</a></li>
                            <li><a href="board/free">핫딜추천</a></li>
                            <li><a class="submenu-title" href="javascript:void(0)">중고거래<span class="sub-arrow"><i class="fa fa-chevron-right"></i></span></a>
                                <ul class="nav-sub-childmenu submenu-content">
                                    <li><a href="datepicker.html">삽니다</a></li>
                                    <li><a href="time-picker.html">팝니다</a></li>
                                </ul>
                            </li>
                            <li><a href="board/free">도움/자문 구함</a></li>
                            <li><a href="board/free">추천/광고</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</header>