{{>web/layouts/fullNavHeader}}

<!-- Page Sidebar Ends-->
<div class="page-body">

    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <h3>삼성전자 (005930)</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <span>코스피</span>
                        </li>

                    </ol>
                </div>
                <div class="col-lg-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
                            <li><a href="product-page.html" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="shopping-bag"></i>일반 &nbsp;</a> </li>
                            <li><a href="user-profile.html" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="users"></i>분석 &nbsp;</a> </li>
                            <li><a href="chat.html" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i>사랑방 &nbsp;</a> </li>
                            <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="heart"></i>즐겨찾기 &nbsp;</a>
                                <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="Search..">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-lg-8">
                <div class="card">
                    <div class="card-header pb-0">
                        <h2>54,900 <span class="h4">(-1,200)</span></h2>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-2 col-6"><h6>전일</h6></div>
                            <div class="col-lg-2 col-6 text-end"><p class="h6 txt-primary">12,843,322</p></div>
                            <div class="col-lg-2 col-6"><h6>시가</h6></div>
                            <div class="col-lg-2 col-6 text-end"><p class="h6 txt-primary">12,843,322</p></div>
                            <div class="col-lg-2 col-6"><h6>고가</h6></div>
                            <div class="col-lg-2 col-6 text-end"><p class="h6 txt-primary">1,490억원</p></div>
                            <div class="col-lg-2 col-6"><h6>저가</h6></div>
                            <div class="col-lg-2 col-6 text-end"><p class="h6 txt-primary">1,357,231</p></div>
                            <div class="col-lg-2 col-6"><h6>거래량</h6></div>
                            <div class="col-lg-2 col-6 text-end"><p class="h6 txt-primary">10.58%</p></div>
                            <div class="col-lg-2 col-6"><h6>거래대금</h6></div>
                            <div class="col-lg-2 col-6 text-end"><p class="h6 txt-primary">10.58%</p></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>종목정보</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6"><h6>상장주식수</h6></div>
                            <div class="col-6 text-end"><p class="h6 txt-primary">12,843,322</p></div>
                            <div class="col-6"><h6>시가총액</h6></div>
                            <div class="col-6 text-end"><p class="h6 txt-primary">1,490억원</p></div>
                            <div class="col-6"><h6>외인보유주식수</h6></div>
                            <div class="col-6 text-end"><p class="h6 txt-primary">1,357,231</p></div>
                            <div class="col-6"><h6>외인보유</h6></div>
                            <div class="col-6 text-end"><p class="h6 txt-primary">10.58%</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>




{{>web/layouts/fullNavFooter}}