<script>
    let _serverParam = {
        marketCode : '',
        yearOrder : '',
    };

    _serverParam.marketCode = '{{serverParam.marketCode}}';
    _serverParam.yearOrder = '{{serverParam.yearOrder}}';
</script>

<!-- Page Sidebar Ends-->
<div class="page-body" id="body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">

        <div class="card">
            <div class="card-header">
                <h2>
                    <span v-text="_serverParam.year"></span>년 <span v-text="_serverParam.week"></span>주
                    <span v-text="statIndex.marketCode == 'kospi' ? '코스피' : '코스닥'"></span>
                </h2>
                <span>
                    <span v-text="_DateUtil.yyyymmdd(statIndex.startDate)"></span> ~ <span v-text="_DateUtil.yyyymmdd(statIndex.endDate)"></span>
                    <span>(<span class="text-info" v-text="statIndex.tradeDays + '거래일'"></span>)</span>
                    <span>상승 : <span class="text-danger" v-text="statIndex.riseCount + '일'"></span>, </span>
                    <span>하락 : <span class="text-primary" v-text="statIndex.fallCount + '일'"></span></span>
                </span>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>주간 일봉</h5>
                        <div class="card-header-right"  style="position:absolute; top:30px;  right:30px">
                        </div>
                    </div>
                    <div class="card-body p-t-0">
                        <div id="statIndexChart" style="height:300px">
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>최근 53주</h5>
                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body p-t-0">
                        <div id="statIndexChartWeekly" style="height:300px">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>시가</h5>
                        <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                            <code v-text="_DateUtil.yyyymmdd(statIndex.startDate)"></code>
                        </div>
                    </div>
                    <div :class="(statIndex.priceStart - statIndex.pricePrevious) > 0 ? 'text-danger' : (statIndex.priceStart - statIndex.pricePrevious) < 0 ? 'text-primary' : ''" class="card-body p-b-0 align-self-end">
                        <h3 v-text="statIndex.priceStart"></h3>
                    </div>
                    <div :class="(statIndex.priceStart - statIndex.pricePrevious) > 0 ? 'text-danger' : (statIndex.priceStart - statIndex.pricePrevious) < 0 ? 'text-primary' : ''" class="card-body p-t-0 align-self-end">
                        <span v-text="(statIndex.priceStart - statIndex.pricePrevious).toFixed(2)"></span>
                        <span v-text="Math.round( 10000 * ( statIndex.priceStart - statIndex.pricePrevious ) / statIndex.pricePrevious ) / 100 + ' %'"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>고가</h5>
                        <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                            <code v-text="_DateUtil.yyyymmdd(statIndex.priceHighDate)"></code>
                        </div>
                    </div>
                    <div :class="(statIndex.priceHigh - statIndex.pricePrevious) > 0 ? 'text-danger' : (statIndex.priceHigh - statIndex.pricePrevious) < 0 ? 'text-primary' : ''" class="card-body p-b-0 align-self-end">
                        <h3 v-text="statIndex.priceHigh"></h3>
                    </div>
                    <div :class="(statIndex.priceHigh - statIndex.pricePrevious) > 0 ? 'text-danger' : (statIndex.priceHigh - statIndex.pricePrevious) < 0 ? 'text-primary' : ''" class="card-body p-t-0 align-self-end">
                        <span v-text="(statIndex.priceHigh - statIndex.pricePrevious).toFixed(2)"></span>
                        <span v-text="Math.round( 10000 * ( statIndex.priceHigh - statIndex.pricePrevious ) / statIndex.pricePrevious ) / 100 + ' %'"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>저가</h5>
                        <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                            <code v-text="_DateUtil.yyyymmdd(statIndex.priceLowDate)"></code>
                        </div>
                    </div>
                    <div :class="(statIndex.priceLow - statIndex.pricePrevious) > 0 ? 'text-danger' : (statIndex.priceLow - statIndex.pricePrevious) < 0 ? 'text-primary' : ''" class="card-body p-b-0 align-self-end">
                        <h3 v-text="statIndex.priceLow"></h3>
                    </div>
                    <div :class="(statIndex.priceLow - statIndex.pricePrevious) > 0 ? 'text-danger' : (statIndex.priceLow - statIndex.pricePrevious) < 0 ? 'text-primary' : ''" class="card-body p-t-0 align-self-end">
                        <span v-text="(statIndex.priceLow - statIndex.pricePrevious).toFixed(2)"></span>
                        <span v-text="Math.round( 10000 * ( statIndex.priceLow - statIndex.pricePrevious ) / statIndex.pricePrevious ) / 100 + ' %'"></span>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>종가</h5>
                        <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                            <code v-text="_DateUtil.yyyymmdd(statIndex.endDate, '.')"></code>
                        </div>
                    </div>
                    <div :class="statIndex.priceChange > 0 ? 'text-danger' : statIndex.priceChange < 0 ? 'text-primary' : ''" class="card-body p-b-0 align-self-end">
                        <h3 v-text="statIndex.priceFinal"></h3>
                    </div>
                    <div :class="statIndex.priceChange > 0 ? 'text-danger' : statIndex.priceChange < 0 ? 'text-primary' : ''" class="card-body p-t-0 align-self-end">
                        <span v-text="statIndex.priceChange"></span>
                        <span v-text="Math.round( 10000 * statIndex.priceChange / statIndex.pricePrevious ) / 100 + ' %'"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>전체거래량</h5>
                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body p-b-0 align-self-end">
                        <h3 v-text="_StrUtil.toCurrency( parseInt( statIndex.volumeTrade / 1000000 ) )"></h3>
                    </div>
                    <div class="card-body p-t-0 align-self-end">
                        <code>(단위 : 백만)</code>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>최고거래량</h5>
                        <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                            <code v-text="_DateUtil.yyyymmdd(statIndex.volumeHighDate)"></code>
                        </div>
                    </div>
                    <div class="card-body p-b-0 align-self-end">
                        <h3 v-text="_StrUtil.toCurrency( parseInt( statIndex.volumeHigh / 1000000 ) )"></h3>
                    </div>
                    <div class="card-body p-t-0 align-self-end">
                        <code>(단위 : 백만)</code>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>최저거래량</h5>
                        <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                            <code v-text="_DateUtil.yyyymmdd(statIndex.volumeLowDate)"></code>
                        </div>
                    </div>
                    <div class="card-body p-b-0 align-self-end">
                        <h3 v-text="_StrUtil.toCurrency( parseInt( statIndex.volumeLow / 1000000 ) )"></h3>
                    </div>
                    <div class="card-body p-t-0 align-self-end">
                        <code>(단위 : 백만)</code>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header p-b-0">
                        <h5>평균거래량</h5>
                        <div class="card-header-right">

                        </div>
                    </div>
                    <div class="card-body p-b-0 align-self-end">
                        <h3 v-text="_StrUtil.toCurrency( parseInt( statIndex.volumeAverage / 1000000 ) )"></h3>
                    </div>
                    <div class="card-body p-t-0 align-self-end">
                        <code>(단위 : 백만)</code>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-12 des-xl-50 box-col-6">
                <div class="row">
                    <div class="col-sm-12 col-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>주간 변동비율 그래프</h5>
                                <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                                    <code>변동비 단위 %</code>
                                </div>
                            </div>
                            <div class="card-body p-t-0">
                                <div id="changeSpreadChart" style="height:400px">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-header p-b-0">
                                <h5>상승</h5>
                                <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                                    <code>전체 <span v-text="_StrUtil.toCurrency( totalStockCount )"></span> 종목</code>
                                </div>
                            </div>
                            <div class="card-body p-b-0 align-self-end text-danger">
                                <h3 v-text="_StrUtil.toCurrency( parseInt( statIndex.riseStockCount ) ) + ' (' + _StrUtil.toCurrency( ( 100 * statIndex.riseStockCount / totalStockCount ).toFixed(2) ) + '%)'"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-header p-b-0">
                                <h5>보합</h5>
                                <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                                    <code>전체 <span v-text="_StrUtil.toCurrency( totalStockCount )"></span> 종목</code>
                                </div>
                            </div>
                            <div class="card-body p-b-0 align-self-end">
                                <h3 v-text="_StrUtil.toCurrency( parseInt( statIndex.evenStockCount ) ) + ' (' + _StrUtil.toCurrency( ( 100 * statIndex.evenStockCount / totalStockCount ).toFixed(2) ) + '%)'"></h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-12">
                        <div class="card">
                            <div class="card-header p-b-0">
                                <h5>하락</h5>
                                <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                                    <code>전체 <span v-text="_StrUtil.toCurrency( totalStockCount )"></span> 종목</code>
                                </div>
                            </div>
                            <div class="card-body p-b-0 align-self-end text-primary">
                                <h3 v-text="_StrUtil.toCurrency( parseInt( statIndex.fallStockCount ) ) + ' (' + _StrUtil.toCurrency( ( 100 * statIndex.fallStockCount / totalStockCount ).toFixed(2) ) + '%)'"></h3>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-4 col-12 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h5>주간 변동비율 표</h5>
                        <div class="card-header-right" style="position:absolute; top:30px;  right:30px">
                            <code>전체 <span v-text="_StrUtil.toCurrency( totalStockCount )"></span> 종목</code>
                        </div>
                    </div>
                    <div class="card-body p-t-0">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">변동비율</th>
                                <th scope="col">종목수</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="(item,index) in changeSpreadListReverse">
                                <td v-text="item.rateChangeMin + '% ~ ' + item.rateChangeMax + '%'"></td>
                                <td v-text="item.stockCount"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row">

            <div class="col-md-6 col-12 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-danger">상승율 상위</h5>
                        <div class="card-header-right" style="position: absolute; top: 30px; right: 30px;">
                            <code>금액 : 억원</code> <code>거래량 : 천주</code>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">종목명</th>
                                <th scope="col">현재가</th>
                                <th scope="col">상승율</th>
                                <th scope="col">거래대금</th>
                                <th scope="col">거래량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in priceDescList">
                                <th scope="row"><span v-text="item.stockName"></span><code v-text="item.stockCode"></code></th>
                                <td class="text-end">
                                    <div v-text="_StrUtil.toCurrency(item.priceFinal)"></div>
                                    <div><code :class="item.priceChange > 0 ? 'text-danger' : item.priceChange < 0 ? 'text-primary' : ''" v-text="((item.priceChange>0) ? '+' : '') + _StrUtil.toCurrency(item.priceChange)"></code></div>
                                </td>
                                <td v-text="item.rateChange + '%'" class="text-end f-w-700"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.priceTotal / 100000000 ) )" class="text-end"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.volumeTrade / 1000 ) )"class="text-end"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

            <div class="col-md-6 col-12 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-primary">상승율 하위</h5>
                        <div class="card-header-right" style="position: absolute; top: 30px; right: 30px;">
                            <code>금액 : 억원</code> <code>거래량 : 천주</code>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">종목명</th>
                                <th scope="col">현재가</th>
                                <th scope="col" class="text-bold">상승율</th>
                                <th scope="col">거래대금</th>
                                <th scope="col">거래량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in priceAscList">
                                <th scope="row"><span v-text="item.stockName"></span><code v-text="item.stockCode"></code></th>
                                <td class="text-end">
                                    <div v-text="_StrUtil.toCurrency(item.priceFinal)"></div>
                                    <div><code :class="item.priceChange > 0 ? 'text-danger' : item.priceChange < 0 ? 'text-primary' : ''" v-text="((item.priceChange>0) ? '+' : '') + _StrUtil.toCurrency(item.priceChange)"></code></div>
                                </td>
                                <td v-text="item.rateChange + '%'" class="text-end f-w-700"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.priceTotal / 100000000 ) )" class="text-end"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.volumeTrade / 1000 ) )"class="text-end"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-12 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h5>거래대금 상위</h5>
                        <div class="card-header-right" style="position: absolute; top: 30px; right: 30px;">
                            <code>금액 : 억원</code> <code>거래량 : 천주</code>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">종목명</th>
                                <th scope="col">현재가</th>
                                <th scope="col">상승율</th>
                                <th scope="col" class="text-bold">거래대금</th>
                                <th scope="col">거래량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in priceTotalDescList">
                                <th scope="row"><span v-text="item.stockName"></span><code v-text="item.stockCode"></code></th>
                                <td class="text-end">
                                    <div v-text="_StrUtil.toCurrency(item.priceFinal)"></div>
                                    <div><code :class="item.priceChange > 0 ? 'text-danger' : item.priceChange < 0 ? 'text-primary' : ''" v-text="((item.priceChange>0) ? '+' : '') + _StrUtil.toCurrency(item.priceChange)"></code></div>
                                </td>
                                <td v-text="item.rateChange + '%'" class="text-end"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.priceTotal / 100000000 ) )" class="text-end f-w-700"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.volumeTrade / 1000 ) )"class="text-end"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col612 des-xl-50 box-col-6">
                <div class="card">
                    <div class="card-header">
                        <h5>거래량 상위</h5>
                        <div class="card-header-right" style="position: absolute; top: 30px; right: 30px;">
                            <code>금액 : 억원</code> <code>거래량 : 천주</code>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered table-sm">
                            <thead>
                            <tr>
                                <th scope="col">종목명</th>
                                <th scope="col">현재가</th>
                                <th scope="col">상승율</th>
                                <th scope="col">거래대금</th>
                                <th scope="col" class="text-bold">거래량</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="item in volumeDescList">
                                <th scope="row"><span v-text="item.stockName"></span><code v-text="item.stockCode"></code></th>
                                <td class="text-end">
                                    <div v-text="_StrUtil.toCurrency(item.priceFinal)"></div>
                                    <div><code :class="item.priceChange > 0 ? 'text-danger' : item.priceChange < 0 ? 'text-primary' : ''" v-text="((item.priceChange>0) ? '+' : '') + _StrUtil.toCurrency(item.priceChange)"></code></div>
                                </td>
                                <td v-text="item.rateChange + '%'" class="text-end"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.priceTotal / 100000000 ) )" class="text-end"></td>
                                <td v-text="_StrUtil.toCurrency( parseInt( item.volumeTrade / 1000 ) )" class="text-end f-w-700"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script src="/lib/local/data/index.js"></script>
<script src="/lib/local/data/stock.js"></script>
<script src="/js/web/svc/krx/indexes/reportIndexWeek.js"></script>


{{>web/layouts/fullNavFooter}}


