{{>web/layouts/fullNavHeader}}

<script>
    let serverParam = {
        stockCode : '{{serverParam.stockCode}}'
    }
</script>



<!-- Page Sidebar Ends-->
<div class="page-body" id="main">

    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <!-- <h3>title</h3> -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">국내주식</li>
                        <li class="breadcrumb-item active">개별종목</li>
                    </ol>
                </div>
                <div class="col-lg-6">

                    <div class="bookmark">
                        <ul>
                            <li><a href="chat.html" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Chat"><i data-feather="message-square"></i></a></li>
                            <li><a href="product-page.html" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Icons"><i data-feather="shopping-bag">               </i></a></li>
                            <li><a href="user-profile.html" data-container="body" data-bs-toggle="popover" data-placement="top" title="" data-original-title="Learning"><i data-feather="users"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="bookmark-search" data-feather="heart"></i></a>
                                <form class="form-inline search-form">
                                    <div class="form-group form-control-search">
                                        <input type="text" placeholder="Search..">
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">

                    <div class="table-responsive">
                        <table class="table table-sm">
                            <thead>
                            <tr>
                                <th scope="col">
                                    <span class="h4 text-primary" v-text="stock.stockName"></span>
                                    <span class="h6 text-light" v-text="stock.stockCode"></span>
                                </th>
                                <th scope="col"><span class="h4 pull-right" style="margin-bottom:0" v-text="stockDaily.priceFinal"></span></th>
                            </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                            <tr>
                                <th scope="col"><span>전일</span></th>
                                <th scope="col"><span>시가</span></th>
                                <th scope="col"><span>고가</span></th>
                                <th scope="col"><span>저가</span></th>
                            </tr>
                            <tr>
                                <td><span class="pull-right" v-text="stockDaily.priceYesterday"></span></td>
                                <td><span class="pull-right" v-text="stockDaily.priceStart"></span></td>
                                <td><span class="pull-right" v-text="stockDaily.priceHigh"></span></td>
                                <td><span class="pull-right" v-text="stockDaily.priceLow"></span></td>
                            </tr>

                            <tr>
                                <th scope="col"><span>거래량</span></th>
                                <th scope="col"><span>거래대금</span></th>
                                <th scope="col"><span>외국인</span></th>
                                <th scope="col"><span>기관</span></th>
                            </tr>
                            <tr>
                                <td><span class="pull-right" v-text="stockDaily.volume"></span></td>
                                <td><span class="pull-right"></span></td>
                                <td><span class="pull-right" v-text="stockDaily.volumeForeigner"></span></td>
                                <td><span class="pull-right" v-text="stockDaily.volumeOrg"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->


    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>최근 주요 재무정보</h5>
                        <span>자료가 이상할 경우 신고 부탁드립니다.</span>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th colspan="2"><span>최근년도</span></th>
                                    <th colspan="2"><span>최근분기</span></th>
                                </tr>
                                <tr>
                                    <td><span>항목</span></td>
                                    <td><span>수치</span></td>
                                    <td><span>항목</span></td>
                                    <td><span>수치</span></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><span class="pull-right" v-text="stockDaily.volume"></span></td>
                                    <td><span class="pull-right"></span></td>
                                    <td><span class="pull-right" v-text="stockDaily.volumeForeigner"></span></td>
                                    <td><span class="pull-right" v-text="stockDaily.volumeOrg"></span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->




</div>

<script src="{{appConfig.staticPath}}/js/web/svc/krx/stocks/main.js"></script>

{{>web/layouts/fullNavFooter}}


