
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="wingo admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, wingo admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">

    <title>주식,주린이,주린자,대박</title>

    <link rel="icon" type="image/x-icon" href="favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/vristo/css/perfect-scrollbar.min.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/lib/vristo/css/style.css" />
    <link defer rel="stylesheet" type="text/css" media="screen" href="/lib/vristo/css/animate.css" />

    <link rel="stylesheet" type="text/css" media="screen" href="/local/css/main.css"></link>



    <script src="/lib/vristo/js/perfect-scrollbar.min.js"></script>
    <script defer src="/lib/vristo/js/popper.min.js"></script>
    <script defer src="/lib/vristo/js/tippy-bundle.umd.min.js"></script>
    <script defer src="/lib/vristo/js/sweetalert.min.js"></script>

    <!-- echart 5.4.1 start  -->
    <script src="/lib/echart/echarts.min.js"></script>
    <!-- echart 5.4.1 end -->

</head>




